<!DOCTYPE html>
<html lang="en" id="contact-body1">
<head>
  
  <meta charset="UTF-8">
 
  <meta name='viewport' content="width=device-width, initial-scale=1.0"
  content='width=device-width, initial-scale=1.0, maximum-scale=1.0, 
  user-scalable=0' >

  <title>Contact </title>
  <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='mainpage.css')}}">
  <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    </head>
<body id="contact-body">


  <h1 id="heading1" >Contact Me</h1>



  <!-- <p class="contact-para">
    
  </p> -->
  <!-- <div>
    Hello world!
  </div> -->

  <p class="contact-para">You can find me on most social medias <br> feel free to contact me on any social website <br>
    for any help.
    
  </p>

  <div id="box1"></div>

  <a href="https://www.linkedin.com/in/pranavmr009/" class="fa fa-linkedin"></a>
  <a href="https://twitter.com/pranavmr009" class="fa fa-twitter"></a>
  <a href="https://github.com/pranavmr009" class='fa fa-github'></a> 
  <a href="https://www.youtube.com/channel/UCkgCnuQN7ZnrXKaPvqLIqOQ" class='fa fa-youtube'></a>


  <!-- <p class="contact-medias">Email: pranavmr4321@gmail.com</p> -->

  <!-- <a class="button-21" href="http://127.0.0.1:5000/home">About</a> -->
  <button onclick="window.location.href='about'" class="button-22" role="button">About</button>
  <button onclick="window.location.href='contact'" class="button-22" role="button">Contact</button>
   <button onclick="window.location.href='portfolio'" class="button-22" role="button">Portfolio</button>
</body>
</html>