<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta name='viewport' content="width=device-width, initial-scale=1.0, maximum-scale=1.0, 
  user-scalable=0">

  <title>Pranav's Portfolio</title>
  <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='mainpage.css')}}">
</head>
<body >

  <div id="home-page" >

  <h1 id="heading" >Pranav MR</h1>

  <div id="box1">I am a Cyber Security student and enthusiast</div>

  <!-- <a class="button-21" href="http://127.0.0.1:5000/home">About</a> -->
  <button onclick="window.location.href='about'" class="button-21" role="button">About</button>
  <button onclick="window.location.href='contact'" class="button-21" role="button">Contact</button>
   <button onclick="window.location.href='portfolio'" class="button-21" role="button">Portfolio</button>

  </div>
</body>
</html>